<button [mat-dialog-close]="true"
  mat-icon-button
  class="closePostion"
  tabindex="-1">
  <mat-icon>close</mat-icon>
</button>

<h2>Change Password</h2>

<form cdkTrapFocus
  [formGroup]="form"
  (ngSubmit)="submit()">

  <div class="mb1 px1">
    <p [@slideUpDownOverflow]="wrongPassword"
      class="error">Wrong Password.</p>
  </div>

  <s-mat-input controlName="currentPassword"
    displayName="Old Password"
    type="password">
    <mat-icon class="inputMatSuffix">lock</mat-icon>
  </s-mat-input>

  <s-mat-password-eye controlName="newPassword"
    [showPassword]="true"
    displayName="New Password"></s-mat-password-eye>

  <div class="mt2 px1 flex justify-start items-center">
    <button
      mat-raised-button
      [disabled]="loading"
      type="submit"
      color="primary">Submit</button>
    <div class="ml2">
      <mat-spinner [sShow]="loading"
        [strokeWidth]="2"
        [diameter]="24"
        class="small"></mat-spinner>
      <span
        [sShow]="successful">Successful</span>
    </div>
  </div>

</form>