<form cdkTrapFocus [formGroup]="form"   
  (ngSubmit)="submit()"
  class="py4">

  <div class="mb3 px1">
    <p [@slideUpDownOverflow]="notFound"
      class="error">Email not found.</p>
  </div>

  <p class="mat-typography px1">Please enter your email address. You will receive a 6 digits code to create a new password via email.
  </p>

  <s-mat-input controlName="username"
    displayName="Email Address"
    
    text="email">
    <mat-icon class="inputMatSuffix">email</mat-icon>
  </s-mat-input>

  <div class="clearfix"></div>

  <a routerLink="../login"
    queryParamsHandling="merge"
    class="block pl1">Login Page</a>


  <div class="mt3 pr1 flex justify-end items-center">
    <mat-spinner [sShow]="loading"
      [strokeWidth]="2"
      [diameter]="24"
      class="small mr2"></mat-spinner>
    <button mat-raised-button
      [disabled]="loading"
      type="submit"
      color="primary">Submit</button>
  </div>

</form>